---
apiVersion: v1
kind: Secret
metadata:
    name: jellyfin-restic-secret
    namespace: media
stringData:
    RESTIC_REPOSITORY: '${SECRET_VOLSYNC_RESTIC_REPOSITORY}/jellyfin'
    RESTIC_PASSWORD: '${SECRET_VOLSYNC_RESTIC_PASSWORD}'
    AWS_ACCESS_KEY_ID: '${SECRET_VOLSYNC_AWS_ACCESS_KEY_ID}'
    AWS_SECRET_ACCESS_KEY: '${SECRET_VOLSYNC_AWS_SECRET_ACCESS_KEY}'
---
apiVersion: volsync.backube/v1alpha1
kind: ReplicationSource
metadata:
  name: jellyfin
  namespace: media
spec:
  sourcePVC: jellyfin-config-v1
  trigger:
    schedule: "0 0 * * *"
  restic:
    copyMethod: Snapshot
    pruneIntervalDays: 10
    repository: jellyfin-restic-secret
    cacheCapacity: 11Gi
    volumeSnapshotClassName: csi-ceph-blockpool
    storageClassName: ceph-block
    moverSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
    retain:
      daily: 10
      within: 3d
