---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app radicale
  namespace: collaboration
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 2.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 15m
  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: tomsquest/docker-radicale
              tag: 3.1.8.3@sha256:b5dac16dafcb003520a1ea95d3e25a24d0955cc552b0d6d447163f0e070780ff
            resources:
              requests:
                cpu: 15m
                memory: 105M
              limits:
                memory: 105M
    service:
      main:
        ports:
          http:
            port: 5232
    ingress:
      main:
        enabled: true
        className: "external"
        annotations:
          cert-manager.io/cluster-issuer: "letsencrypt-production"
          external-dns/is-public: "true"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: "Radicale"
          gethomepage.dev/group: "Collaboration"
          gethomepage.dev/icon: "https://radicale.org/assets/logo.svg"
          gethomepage.dev/description: "Free and Open-Source CalDAV and CardDAV Server."
        hosts:
          - host: &host "radicale.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - *host
            secretName: radicale-tls
    persistence:
      config:
        enabled: true
        type: configMap
        name: *app
        globalMounts:
          - path: /config/config
            subPath: config.cfg
            readOnly: true
      data:
        enabled: true
        existingClaim: radicale-data-v1
        globalMounts:
          - path: /data
      auth:
        enabled: true
        type: secret
        name: *app
        globalMounts:
          - path: /config/users
            subPath: USERS
            readOnly: true
    podAnnotations:
      configmap.reloader.stakater.com/reload: *app
      secret.reloader.stakater.com/reload: *app
