---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: nextcloud-data-v1
spec:
  capacity:
    storage: 1Ti
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  storageClassName: ""
  persistentVolumeReclaimPolicy: Retain
  mountOptions:
    - hard
    - nfsvers=4.1
  nfs:
    path: /zfsa/Nextcloud
    server: "nas.${SECRET_DOMAIN}"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nextcloud-data-v1
  namespace: fileops
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: ""
  resources:
    requests:
      storage: 1Ti
