---
apiVersion: volsync.backube/v1alpha1
kind: ReplicationDestination
metadata:
  name: nextcloud-config-v1-dest
  namespace: fileops
spec:
  trigger:
    manual: restore-once
  restic:
    repository: nextcloud-restic-secret
    destinationPVC: nextcloud-config-v1
    copyMethod: Direct
