---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: vpa
  namespace: observability
spec:
  interval: 5m
  chart:
    spec:
      chart: vpa
      version: 4.4.5
      sourceRef:
        kind: HelmRepository
        name: fairwinds
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    recommender:
      enabled: true
    updater:
      enabled: false
    admissionController:
      enabled: false
    resources:
      requests:
        cpu: 15m
        memory: 105M
      limits:
        memory: 105M
