---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: bloghugo
  namespace: professional
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.0.4
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 15m
  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/euvaz/bloghugo
              tag: v0.1.3@sha256:af57abe4c11eb2f853c6ece43dd941aae650d423089aed669581fc25b2c53b76
            env:
              TZ: "${TIMEZONE}"
            resources:
              requests:
                cpu: 5m
                memory: 100M
              limits:
                memory: 100M
    service:
      main:
        controller: main
        ports:
          http:
            port: 80
    ingress:
      main:
        className: "external"
        annotations:
          cert-manager.io/cluster-issuer: "letsencrypt-production"
          external-dns/is-public: "true"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: "BlogHugo"
          gethomepage.dev/group: "Professional"
          gethomepage.dev/icon: "hugo"
          gethomepage.dev/description: "Self-Host Blog."
        hosts:
          - host: &host "blog.virgil.rodeo"
            paths:
              - path: /
                service:
                  identifier: main
                  port: http
        tls:
          - hosts:
              - *host
            secretName: blog-tls
