---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: reflector
  namespace: kube-system
spec:
  interval: 15m
  chart:
    spec:
      chart: reflector
      version: 7.1.262
      sourceRef:
        kind: HelmRepository
        name: emberstack
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    image:
      repository: emberstack/kubernetes-reflector
      tag: 7.1.238@sha256:24e9cafc935689db6fcf637dc656f015e3d683875f80995aaa0ea0fc0e27ab7a
    configuration:
      logging:
        minimumLevel: Information
