---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # Pre Flux-Kustomizations
  - ./namespace.yaml
  # Flux-Kustomizations
  # - ./external-dns/ks.yaml
  - ./external-ingresses/ks.yaml
  - ./nginx/ks.yaml
  - ./unifi/ks.yaml
